[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "public"]
	path = public
	url = https://github.com/HarikaSirimalla/HarikaSirimalla.github.io.git
	branch = master
[submodule "HARIKAS_PORTFOLIO"]
	path = HARIKAS_PORTFOLIO
	url = git@github.com:HarikaSirimalla/HARIKAS_PORTFOLIO.git
	branch = master
[submodule "HarikaSirimalla.github.io"]
	path = HarikaSirimalla.github.io
	url = git@github.com:HarikaSirimalla/HarikaSirimalla.github.io.git
	branch = master
